html {
  padding: 20px 50px;
}

.education
{
  color: #ba78e0;
  fill:  #ba78e0;
}

.volunteer
{
  color: #f6b93b;
  fill:  #f6b93b;
}

.extra
{
  color: #78e08f;
  fill:  #78e08f;
}

.work
{
  color: #888;
  fill:  #888;
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: left;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

#timelineChart_hc {
  position: absolute;
  width: 100%;
  text-
}